<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
    <h1>
        <%= local.user || "Please log in" %>
    </h1>
    <p><a href="/users">Users Pages</a></p>
    <p><a href="/users">Create</a></p>
</body>
</html>
